:root {
  --color-primary: #f02222;
  --color-secondary: #292727;
  --color-background-light: #f2f2f2;
  --color-white: #fff;
  --color-black: #000;
}

/* Typeography */
body {
  font-family: poppins, Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-secondary);
}

h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -1px;
}

h2 {
  font-size: 3.3rem;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 2.3rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5.5rem;
  }
  h3 {
    font-size: 5.5rem;
  }
}

/* Buttons */
.btn {
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  height: 45px;
  text-transform: uppercase;
  width: 150px;
}

.btn--primary {
  background: var(--color-primary);
  color: var(--color-white);
  font-weight: 700;
  transition: background 0.3s;
}

.btn--primary:hover {
  background: var(--color-secondary);
}

.btn--secondary {
  transition: background 0.3s, color 0.3s;
}

.btn--secondary:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

/* Lists */
ul {
  list-style: none;
}

/* Icons */
.icon-list {
  display: flex;
}

.icon-list__item {
  font-size: 1.5rem;
}

.icon-list__item > a {
  color: var(--color-secondary);
  transition: color 0.3s;
}

.icon-list__item > a:hover {
  color: var(--color-primary);
}
/* Navigation Bar */
.nav__icon {
  margin-right: 30px;
}

/* Newsletter */
.newsletter__icon {
  margin-right: 20px;
  font-size: 1.7rem;
}
