:root {
  --color-primary: #f02222;
  --color-secondary: #292727;
  --color-background-light: #f2f2f2;
  --color-white: #fff;
  --color-black: #000;
}

/* Typeography */
body {
  font-family: poppins, Arial, Helvetica, sans-serif;
  margin-top: 77px;
}

html {
  font-size: 62.5%;
}

main {
  margin: 0 15px;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-secondary);
}

h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -1px;
}

h2 {
  font-size: 3.3rem;
  margin-bottom: 5px;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 2.3rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5.5rem;
  }
  h3 {
    font-size: 5.5rem;
  }
}

/* Buttons */
.btn {
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  height: 45px;
  text-transform: uppercase;
  width: 150px;
}

.btn--primary {
  background: var(--color-primary);
  color: var(--color-white);
  font-weight: 700;
  transition: background 0.3s;
}

.btn--primary:hover {
  background: var(--color-secondary);
}

.btn--secondary {
  transition: background 0.3s, color 0.3s;
}

.btn--secondary:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

/* Lists */
ul {
  list-style: none;
}

/* Links */
a {
  text-decoration: none;
}

/* Line */
.line--container {
  display: inline-flex;
}

.line {
  height: 3px;
  width: 65px;
  background: var(--color-primary);
}

/* Icons */
.icon-list {
  display: flex;
}

.icon-list__item {
  font-size: 1.5rem;
}

.icon-list__item > a {
  color: var(--color-secondary);
  transition: color 0.3s;
}

.icon-list__item > a:hover {
  color: var(--color-primary);
}

.nav__icon {
  margin-right: 30px;
}

.offer__icon {
  color: var(--color-primary);
  font-size: 2rem;
}

.newsletter__icon {
  margin-right: 20px;
  font-size: 1.7rem;
}

/* Cards */

.card {
  margin: 30px;
  text-align: center;
  width: 200px;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 0 5px 10px var(--color-background-light);
}

.card__header {
  align-items: center;
  display: flex;
  height: 40px;
}

.card__new,
.card__sale {
  color: var(--color-white);
  display: inline;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 10px 20px;
  padding: 5px 20px;
}

.card__new {
  background: rgb(3, 192, 3);
}

.card__sale {
  background: var(--color-primary);
}

.card__img {
  background: 50% 50% url(../images/pink.jpg) no-repeat;
  height: 150px;
}

.card__description,
.card__price {
  font-weight: 500;
}

.card__description {
  font-size: 1.5rem;
  margin: 10px 15px;
}

.card__price {
  font-size: 1.7rem;
  color: var(--color-primary);
}

.card__footer {
  height: 60px;
  display: flex;
  align-items: flex-end;
}

.card__btn {
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.card:hover .card__btn {
  opacity: 1;
}

/* Input-Group */
.input-group {
  display: flex;
  justify-content: space-between;
}

.input-group:focus {
  border: 1px solid var(--color-primary);
}

input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  transition: border 0.3s;
  padding-left: 2rem;
  opacity: 0.5;
}

input:focus {
  border: 1px solid var(--color-primary);
}

@media screen and (min-width: 768px) {
  .input-group {
    width: 450px;
  }
}

/* Navigation Bar */
.navBar {
  background: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav__logo {
  margin: 25px 15px;
}

.nav__bars {
  align-self: center;
  color: var(--color-primary);
  font-size: 2.3rem;
  margin-right: 20px;
}

.nav__list-container {
  width: 100%;
}

.nav__list {
  background: var(--color-secondary);
  margin: 0;
  padding-left: 0;
  /* Temporary */
  /* display: none; */
}

.nav__list-item {
  border-top: 1px solid rgb(56, 56, 56);
  font-size: 1.5rem;
  padding: 15px;
  text-transform: uppercase;
}

.nav__list-item > a {
  color: var(--color-white);
  transition: color 0.3s;
}

.nav__list-item > a:hover {
  color: var(--color-primary);
}

.nav__icons {
  display: none;
}

@media screen and (min-width: 900px) {
  .navBar {
    align-items: center;
    flex-wrap: nowrap;
    height: 80px;
  }

  .nav__bars {
    display: none;
  }

  .nav__list-container {
    display: flex;
    margin-right: 50px;
    width: auto;
  }

  .nav__list {
    display: flex;
    background: var(--color-white);
  }

  .nav__list-item {
    border: none;
  }

  .nav__list-item > a {
    color: var(--color-secondary);
  }

  .nav__icons {
    display: flex;
    align-items: center;
  }
}

/* Collapsible Content */
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.collapsible__bars {
  cursor: pointer;
  transition: all 0.5s;
}

.collapsible--expanded .collapsible__bars {
  transform: rotate(-90deg);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

@media screen and (min-width: 900px) {
  .collapsible__content {
    overflow: unset;
    opacity: 1;
  }
}

/* Hero */
.hero__img {
  background: 50% 50% url(../images/necklace.jpg) no-repeat;
  background-size: cover;
  height: 450px;
  display: flex;
  align-items: center;
}

.hero__text-container {
  margin-left: 80px;
}

.hero__trend,
.hero__sale {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.hero__header {
  margin: 15px 0;
}

.hero__btn {
  margin-top: 25px;
  display: block;
}

@media screen and (min-width: 768px) {
  .hero__img {
    height: 600px;
  }

  .hero__trend {
    font-size: 2.5rem;
  }

  .hero__sale {
    font-size: 2rem;
  }
}

@media screen and (min-width: 990px) {
  .hero__img {
    height: 700px;
  }

  .hero__text-container {
    margin-left: 100px;
  }
}

/* Products */
.product,
.product__header,
.product__cards {
  margin-top: 50px;
}

.product {
  text-align: center;
}

.product__men,
.product__kids,
.product__accessories,
.product__women {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__men,
.product__women {
  height: 600px;
}

.product__men {
  background: 50% 50% url(../images/Mens.jpg) no-repeat;
}

.product__kids,
.product__accessories {
  height: 300px;
}

.product__kids {
  background: 50% 50% url(../images/kids.jpg) no-repeat;
  margin: 15px 0;
}

.product__accessories {
  background: 50% 50% url(../images/accessories.jpg) no-repeat;
}

.product__women {
  background: 50% 50% url(../images/people-4.jpg) no-repeat;
  margin-top: 15px;
}

.product__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 575px) {
  .product__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
  }

  .product__img-container {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(4, 200px);
    justify-content: center;
    gap: 15px;
  }

  .product__men,
  .product__kids,
  .product__accessories,
  .product__women {
    height: auto;
  }

  .product__kids,
  .product__women {
    margin: 0;
  }

  .product__men,
  .product__women {
    grid-row: span 2;
  }
}

@media screen and (min-width: 768px) {
  .product__img-container {
    grid-template-columns: repeat(3, 220px);
    grid-template-rows: repeat(2, 150px);
    gap: 20px;
  }

  .product__accessories {
    grid-column: 2;
    grid-row: 2;
  }

  .product__women {
    grid-column: 3;
  }
}

@media screen and (min-width: 990px) {
  .product__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .product__img-container {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(2, 200px);
  }
}

@media screen and (min-width: 1200px) {
  .product__img-container {
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 245px);
  }
}

/* Feature */
.feature {
  margin-top: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: var(--color-background-light);
}

.feature__trend,
.feature__sale {
  text-transform: uppercase;
  color: var(--color-secondary);
}

.feature__trend {
  font-size: 2.5rem;
  font-weight: 200;
}

.feature__header {
  margin: 15px 0;
}

.feature__sale {
  font-size: 2rem;
  margin-bottom: 50px;
}

/* Sale */
.sale {
  text-align: center;
}

.sale__list {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 40px;
  margin-top: 50px;
  padding: 0;
}

.sale__list-item > a {
  color: var(--color-secondary);
}

.sale__button {
  border: 1px solid var(--color-black);
  color: var(--color-secondary);
  cursor: pointer;
  height: 40px;
  margin-top: 10px;
  transition: all 0.3s;
  width: 100%;
}

.sale__button:focus {
  background: var(--color-primary);
  color: var(--color-white);
}

.sale__cards {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 575px) {
  .sale__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
  }
}

@media screen and (min-width: 768px) {
  .sale__list {
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
  }

  .sale__list-item {
    width: 130px;
    margin: 0;
  }
}

@media screen and (min-width: 990px) {
  .sale__cards {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* Offers */
.offers {
  align-content: center;
  align-items: center;
  background: var(--color-background-light);
  display: grid;
  grid-template-rows: repeat(4, 0.3fr);
  height: 500px;
  justify-content: center;
  text-align: center;
}

.offer__header {
  margin: 10px;
}

.offer__info {
  font-size: 1.5rem;
}

@media screen and (min-width: 765px) {
  .offers {
    grid-template-rows: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    height: 200px;
  }
}

/* Latest */
.latest {
  text-align: center;
  margin-top: 50px;
}

.latest__img-container {
  margin-top: 30px;
}

.latest__img-1 {
  background: 50% 50% url(../images/people-1.jpg) no-repeat;
  background-size: cover;
  height: 350px;
  width: 100%;
}

.latest__img-3 {
  display: none;
}

@media screen and (min-width: 600px) {
  .latest__img-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .latest__img-1,
  .latest__img-2 {
    height: 200px;
    width: 250px;
  }

  .latest__img-2 {
    background: 50% 50% url(../images/people-2.jpg) no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 868px) {
  .latest__img-1,
  .latest__img-2,
  .latest__img-3 {
    height: 300px;
    width: 350px;
  }
}

@media screen and (min-width: 1000px) {
  .latest__img-3 {
    display: inline;
    background: 50% 50% url(../images/people-3.jpg) no-repeat;
  }
}
/* Newsletter */
.newsLetter {
  background: var(--color-background-light);
  margin-top: 50px;
  padding: 30px 15px;
}

.newsLetter__header {
  margin: 0;
}

.newsLetter__input {
  margin: 35px 0;
  background: var(--color-white);
}

.newsLetter__icon-list {
  padding-left: 20px;
}

@media screen and (min-width: 768px) {
  .newsLetter {
    display: grid;
    grid-template-columns: 200px 450px;
    align-items: center;
    justify-content: center;
    column-gap: 75px;
  }

  .newsLetter__icon-list {
    padding-left: 0;
    grid-column: 2;
  }
}

@media screen and (min-width: 1000px) {
  .newsLetter {
    column-gap: 30px;
    padding: 10px;
  }

  .newsLetter__icon-list {
    grid-column: 3;
  }
}

@media screen and (min-width: 1200px) {
  .newsLetter {
    grid-template-columns: 300px 450px;
    column-gap: 100px;
  }
}

/* Footer */
.footer__list {
  margin-top: 50px;
  padding-left: 15px;
}

.footer__list-item {
  font-size: 1.4rem;
  line-height: 30px;
}

.footer__list-item > a {
  color: var(--color-secondary);
  transition: color 0.3s;
}

.footer__list-item > a:hover {
  color: var(--color-primary);
}

@media screen and (min-width: 600px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-evenly;
  }
}

/* Copyright */
.copyright {
  margin-top: 50px;
  text-align: center;
}

.copyright__text {
  border-top: 1px solid var(--color-background-light);
  color: rgb(129, 129, 129);
  font-size: 1.5rem;
  padding: 15px;
}

.copyright__text-black {
  color: var(--color-black);
}
