:root {
  --color-primary: #f02222;
  --color-secondary: #292727;
  --color-background-light: #f2f2f2;
  --color-white: #fff;
  --color-black: #000;
}

/* Typeography */
body {
  font-family: poppins, Arial, Helvetica, sans-serif;
  margin-top: 77px;
  height: 900px;
}

html {
  font-size: 62.5%;
}

main {
  margin: 0 15px;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--color-secondary);
}

h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: -1px;
}

h2 {
  font-size: 3.3rem;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 2.3rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5.5rem;
  }
  h3 {
    font-size: 5.5rem;
  }
}

/* Buttons */
.btn {
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  height: 45px;
  text-transform: uppercase;
  width: 150px;
}

.btn--primary {
  background: var(--color-primary);
  color: var(--color-white);
  font-weight: 700;
  transition: background 0.3s;
}

.btn--primary:hover {
  background: var(--color-secondary);
}

.btn--secondary {
  transition: background 0.3s, color 0.3s;
}

.btn--secondary:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

/* Lists */
ul {
  list-style: none;
}

/* Links */
a {
  text-decoration: none;
}

/* Icons */
.icon-list {
  display: flex;
}

.icon-list__item {
  font-size: 1.5rem;
}

.icon-list__item > a {
  color: var(--color-secondary);
  transition: color 0.3s;
}

.icon-list__item > a:hover {
  color: var(--color-primary);
}

.nav__icon {
  margin-right: 30px;
}

.offer__icon {
  margin: 30px;
  color: var(--color-primary);
  font-size: 2rem;
}

.newsletter__icon {
  margin-right: 20px;
  font-size: 1.7rem;
}

/* Cards */

.card {
  margin: 30px;
  text-align: center;
  width: 200px;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 0 5px 10px var(--color-background-light);
}

.card__header {
  align-items: center;
  display: flex;
}

.card__new,
.card__sale {
  color: var(--color-white);
  display: inline;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 10px 20px;
  padding: 5px 20px;
}

.card__new {
  background: rgb(3, 192, 3);
}

.card__sale {
  background: var(--color-primary);
}

.card__img {
  background: 50% 50% url(../images/pink.jpg) no-repeat;
  height: 150px;
}

.card__description,
.card__price {
  font-weight: 500;
}

.card__description {
  font-size: 1.5rem;
  margin: 10px 15px;
}

.card__price {
  font-size: 1.7rem;
  color: var(--color-primary);
}

.card__footer {
  height: 60px;
  display: flex;
  align-items: flex-end;
}

.card__btn {
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}

.card:hover .card__btn {
  opacity: 1;
}

/* Input-Group */
.input-group {
  display: flex;
  justify-content: space-between;
}

.input-group:focus {
  border: 1px solid var(--color-primary);
}

input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  transition: border 0.3s;
  padding-left: 2rem;
  opacity: 0.5;
}

input:focus {
  border: 1px solid var(--color-primary);
}

@media screen and (min-width: 768px) {
  .input-group {
    width: 450px;
  }
}

/* Navigation Bar */
.navBar {
  background: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav__logo {
  margin: 25px 15px;
}

.nav__bars {
  align-self: center;
  color: var(--color-primary);
  font-size: 2.3rem;
  margin-right: 20px;
}

.nav__list-container {
  width: 100%;
}

.nav__list {
  background: var(--color-secondary);
  margin: 0;
  padding-left: 0;
  /* Temporary */
  display: none;
}

.nav__list-item {
  border-top: 1px solid rgb(56, 56, 56);
  font-size: 1.5rem;
  padding: 15px;
  text-transform: uppercase;
}

.nav__list-item > a {
  color: var(--color-white);
  transition: color 0.3s;
}

.nav__list-item > a:hover {
  color: var(--color-primary);
}

.nav__icons {
  display: none;
}

@media screen and (min-width: 900px) {
  .navBar {
    align-items: center;
    flex-wrap: nowrap;
    height: 80px;
  }

  .nav__bars {
    display: none;
  }

  .nav__list-container {
    display: flex;
    margin-right: 50px;
    width: auto;
  }

  .nav__list {
    display: flex;
    background: var(--color-white);
  }

  .nav__list-item {
    border: none;
  }

  .nav__list-item > a {
    color: var(--color-secondary);
  }

  .nav__icons {
    display: flex;
    align-items: center;
  }
}

/* Hero */
.hero__img {
  background: 50% 50% url(../images/necklace.jpg) no-repeat;
  background-size: cover;
  height: 450px;
  display: flex;
  align-items: center;
}

.hero__text-container {
  margin-left: 80px;
}

.hero__trend,
.hero__sale {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.hero__header {
  margin: 15px 0;
}

.hero__btn {
  margin-top: 25px;
  display: block;
}

@media screen and (min-width: 768px) {
  .hero__img {
    height: 600px;
  }

  .hero__trend {
    font-size: 2.5rem;
  }

  .hero__sale {
    font-size: 2rem;
  }
}

@media screen and (min-width: 990px) {
  .hero__img {
    height: 700px;
  }

  .hero__text-container {
    margin-left: 100px;
  }
}

/* Products */
.product,
.product__header,
.product__cards {
  margin-top: 50px;
}

.product {
  text-align: center;
}

.product__men,
.product__kids,
.product__accessories,
.product__women {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__men,
.product__women {
  height: 600px;
}

.product__men {
  background: 50% 50% url(../images/Mens.jpg) no-repeat;
}

.product__kids,
.product__accessories {
  height: 300px;
}

.product__kids {
  background: 50% 50% url(../images/kids.jpg) no-repeat;
  margin: 15px 0;
}

.product__accessories {
  background: 50% 50% url(../images/accessories.jpg) no-repeat;
}

.product__women {
  background: 50% 50% url(../images/people-4.jpg) no-repeat;
  margin-top: 15px;
}

.product__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
